@font-face {
  font-family: "ICabin";
  src: url("../assets/Fonts/Cabin/Cabin-Italic-VariableFont.ttf");
}
@font-face {
  font-family: "Cabin";
  src: url("../assets/Fonts/Cabin/Cabin-VariableFont.ttf");
}
body {
  background-color: #1A191D;
  margin: 0;
  padding: 0;
}

.cacher {
  display: none;
}

* {
  font-family: "Cabin";
}

.colored {
  color: #FFA767;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-family: "ICabin";
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.header-mobile {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  background-color: #1C1B1E;
  position: fixed;
  width: 100%;
  z-index: 1;
}

@media (min-width: 768px) {
  .header-mobile {
    display: none;
  }
}
.title-container {
  border-left: 2px solid #FFA767;
  margin-left: 15px;
}
.title-container p {
  font-family: "ICabin";
  color: #FFFFFF;
  font-size: 20px;
  font-weight: lighter;
  padding-left: 10px;
}

.home--container {
  width: 100%;
  height: 100vh;
  margin-top: 0px;
}
.home--container p:first-child {
  color: #1A191D;
  margin-top: 0px;
}
.home--container .title-home {
  width: 100%;
}
.home--container .title-home img:first-child {
  transform: rotate(-90deg);
  position: relative;
  display: block;
  height: 150px;
  margin-left: auto;
  margin-top: 35%;
}
.home--container .title-home .title-txt-home {
  width: 285px;
  margin: auto;
  margin-top: 5%;
}
.home--container .title-home .title-txt-home p:first-child {
  color: #FFFFFF;
  margin: 0;
  font-size: 20px;
}
.home--container .title-home .title-txt-home h1 {
  font-size: 40px;
  margin: 0;
}
.home--container .title-home .title-txt-home p:last-child {
  margin: 0;
  margin-top: -5px;
  text-align: right;
  color: #FFFFFF;
}
.home--container img:last-child {
  display: block;
  margin: auto;
  margin-top: 300px;
  height: 45px;
}

.aboutme--container {
  height: 90vh;
}
.aboutme--container .aboutme-content img {
  display: block;
  margin: auto;
  height: 200px;
  margin-bottom: 0px;
}
.aboutme--container .aboutme-content .texte-aboutme {
  color: #FFFFFF;
  width: 90%;
  margin: auto;
}
.aboutme--container .aboutme-content .texte-aboutme h2 {
  margin-top: 0px;
}

.skills--container {
  height: 90vh;
}
.skills--container .skills-content {
  width: 90%;
  margin: auto;
  color: #FFFFFF;
}
.skills--container .skills-content .skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  column-gap: 20px;
  grid-auto-rows: minmax(40px, auto);
  width: 50%;
  margin-left: 2.5%;
  margin-top: 15%;
}
.skills--container .skills-content .skills .s {
  display: flex;
  flex-direction: row;
  align-items: end;
  height: 40px;
}
.skills--container .skills-content .skills .s img {
  height: 35px;
}
.skills--container .skills-content .skills .s p {
  margin: 0;
  font-size: 20px;
  padding-left: 5px;
}

.projects--container {
  min-height: 90vh;
}
.projects--container .projects-content {
  width: 90%;
  margin: auto;
  color: #FFFFFF;
}
.projects--container .projects-content .projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;
  grid-auto-rows: minmax(40px, auto);
  margin-top: 50px;
}
.projects--container .projects-content .projects .project-card {
  background-color: #29282C;
  border-radius: 10px;
  margin: 0;
}
.projects--container .projects-content .projects .project-card .project-name {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 130px;
  margin-top: 0px;
  color: #1A191D;
}
.projects--container .projects-content .projects .project-card .project-name h3 {
  margin: 0;
  padding-top: 40px;
  text-align: center;
}
.projects--container .projects-content .projects .project-card .project-name p {
  text-align: center;
  margin: 0px 0 0;
}
.projects--container .projects-content .projects .project-card .btn-card {
  background-color: #3E3D42;
  color: #FFFFFF;
  padding: 2.5px 15px;
  border: none;
  border-radius: 2px;
  margin-top: 10px;
  margin-left: 10px;
}
.projects--container .projects-content .projects .project-card h2 {
  margin: 20px 0 0 10px;
  font-size: 20px;
}
.projects--container .projects-content .projects .project-card p:last-child {
  margin: 0 0 0 10px;
  padding-bottom: 20px;
}

/*# sourceMappingURL=app.css.map */
