@font-face {
  font-family: "ICabin";
  src: url("../assets/Fonts/Cabin/Cabin-Italic-VariableFont.ttf");
}
@font-face {
  font-family: "Cabin";
  src: url("../assets/Fonts/Cabin/Cabin-VariableFont.ttf");
}
body {
  background-color: #1A191D;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Cabin";
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.cacher {
  display: none;
}

.colored {
  color: #FFA767;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-family: "ICabin";
}

.colored-voteit {
  color: #87b189;
}

.colored-adr {
  color: #F3DEC4;
}

.form-exp-current {
  color: #FFA767;
}

.form-exp-pass {
  color: #575757;
}

.header-mobile {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  background-color: #1C1B1E;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.header-mobile h2 {
  color: #FFFFFF;
}

.header-desktop {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.header-desktop .header-left h2 {
  color: #FFFFFF;
  margin-left: 15px;
}
.header-desktop .header-right nav {
  display: flex;
  flex-direction: row;
}
.header-desktop .header-right nav li {
  list-style: none;
  margin-right: 10px;
  font-size: 15px;
  color: #FFFFFF;
}
.header-desktop .header-right nav .underline-effect {
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
}
.header-desktop .header-right nav .underline-effect::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #faceb5;
  transition: width 0.3s;
}
.header-desktop .header-right nav .underline-effect:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.header-desktop .header-right nav .underline-effect:hover .number-nav {
  color: #faceb5;
}

@media (max-width: 768px) {
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: block;
  }
}
@media (min-width: 768px) {
  .header-desktop {
    display: flex;
  }
  .header-mobile {
    display: none;
  }
}
.title-container {
  border-left: 2px solid #FFA767;
  margin-left: 15px;
}
.title-container p {
  font-family: "ICabin";
  color: #FFFFFF;
  font-size: 20px;
  font-weight: lighter;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .title-container {
    margin-left: 5%;
  }
  .title-container p {
    font-size: 25px;
    font-weight: lighter;
  }
}
.home--container {
  width: 100%;
  height: 100vh;
  margin-top: 0px;
}
.home--container p:first-child {
  color: #1A191D;
  margin-top: 0px;
}
.home--container .title-home {
  width: 100%;
}
.home--container .title-home img:first-child {
  transform: rotate(-90deg);
  position: relative;
  display: block;
  height: 150px;
  margin-left: auto;
  margin-top: 35%;
}
.home--container .title-home .title-txt-home {
  width: 285px;
  margin: auto;
  margin-top: 5%;
}
.home--container .title-home .title-txt-home p:first-child {
  color: #FFFFFF;
  margin: 0;
  font-size: 20px;
}
.home--container .title-home .title-txt-home h1 {
  font-size: 40px;
  margin: 0;
}
.home--container .title-home .title-txt-home p:last-child {
  margin: 0;
  margin-top: -5px;
  text-align: right;
  color: #FFFFFF;
}
.home--container img:last-child {
  display: block;
  margin: auto;
  margin-top: 300px;
  height: 45px;
}

@media (min-width: 768px) {
  .home--container .title-home img:first-child {
    transform: rotate(-90deg);
    height: 250px;
    margin-top: 10%;
  }
  .home--container .title-home .title-txt-home {
    width: 500px;
    margin-top: -5%;
  }
  .home--container .title-home .title-txt-home p:first-child {
    font-size: 20px;
  }
  .home--container .title-home .title-txt-home h1 {
    font-size: 70px;
  }
  .home--container .title-home .title-txt-home p:last-child {
    font-size: 20px;
  }
  .home--container img:last-child {
    margin-top: 200px;
  }
}
.aboutme--container {
  height: 90vh;
}
.aboutme--container .aboutme-content img {
  display: block;
  margin: auto;
  height: 200px;
  margin-bottom: 0px;
}
.aboutme--container .aboutme-content .texte-aboutme {
  color: #FFFFFF;
  width: 90%;
  margin: auto;
}
.aboutme--container .aboutme-content .texte-aboutme h2 {
  margin-top: 0px;
}

@media (min-width: 768px) {
  .aboutme--container .aboutme-content {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: auto;
  }
  .aboutme--container .aboutme-content img {
    height: 400px;
  }
  .aboutme--container .aboutme-content .texte-aboutme h2 {
    font-size: 35px;
  }
  .aboutme--container .aboutme-content .texte-aboutme p {
    font-size: 20px;
  }
}
.skills--container {
  height: 90vh;
}
.skills--container .skills-content {
  width: 90%;
  margin: auto;
  color: #FFFFFF;
}
.skills--container .skills-content .skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  column-gap: 20px;
  grid-auto-rows: minmax(40px, auto);
  width: 50%;
  margin-left: 2.5%;
  margin-top: 15%;
}
.skills--container .skills-content .skills .s {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}
.skills--container .skills-content .skills .s img {
  height: 25px;
  margin-left: 5px;
}
.skills--container .skills-content .skills .s p {
  margin: 0;
  font-size: 20px;
  padding-left: 5px;
  width: 100px;
}

@media (min-width: 768px) {
  .skills--container .skills-content p:first-child {
    font-size: 18px;
    width: 45%;
    margin-left: 5%;
  }
  .skills--container .skills-content .skills {
    gap: 10px;
    column-gap: 10px;
    margin-top: 2.5%;
    margin-left: 5%;
  }
  .skills--container .skills-content .skills .s {
    width: 150px;
  }
  .skills--container .skills-content .skills .s img {
    height: 35px;
  }
  .skills--container .skills-content .skills .s p {
    font-size: 22px;
    width: 100px;
  }
}
.projects--container {
  min-height: 90vh;
}
.projects--container .projects-content {
  width: 90%;
  margin: auto;
  color: #FFFFFF;
}
.projects--container .projects-content .projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;
  grid-auto-rows: minmax(40px, auto);
  margin-top: 50px;
  margin-bottom: 100px;
}
.projects--container .projects-content .projects .project-card {
  background-color: #29282C;
  border-radius: 10px;
  margin: 0;
}
.projects--container .projects-content .projects .project-card .project-name {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 130px;
  margin-top: 0px;
  color: #1A191D;
}
.projects--container .projects-content .projects .project-card .project-name h3 {
  margin: 0;
  padding-top: 40px;
  text-align: center;
}
.projects--container .projects-content .projects .project-card .project-name p {
  text-align: center;
  margin: 0px 0 0;
}
.projects--container .projects-content .projects .project-card .btn-card {
  background-color: #3E3D42;
  color: #FFFFFF;
  padding: 2.5px 15px;
  border: none;
  border-radius: 2px;
  margin-top: 10px;
  margin-left: 10px;
}
.projects--container .projects-content .projects .project-card h2 {
  margin: 20px 0 0 10px;
  font-size: 20px;
}
.projects--container .projects-content .projects .project-card p:last-child {
  margin: 0 0 0 10px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .projects--container .projects-content p:first-child {
    font-size: 18px;
    width: 45%;
    margin-left: 5%;
  }
  .projects--container .projects-content .projects {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
  }
  .projects--container .projects-content .projects .project-card {
    min-height: 250px;
  }
}
.formations--container {
  min-height: 25vh;
  padding-bottom: 10vh;
}
.formations--container .formations-content {
  width: 90%;
  margin: auto;
}
.formations--container .formations-content .formations {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;
  grid-auto-rows: minmax(40px, auto);
  margin-top: 20px;
}
.formations--container .formations-content .formations .formation {
  color: #FFFFFF;
}
.formations--container .formations-content .formations .formation p {
  margin: 0;
  font-size: 15px;
}
.formations--container .formations-content .formations .formation h2 {
  margin: 0;
  font-size: 20px;
  font-weight: lighter;
}
.formations--container .formations-content .formations .formation h2 .italic {
  font-weight: lighter;
}
.formations--container .formations-content .formations .formation h4 {
  margin: 0 0 0 15px;
  font-weight: lighter;
}
.formations--container .formations-content .formations .formation-current h2 {
  font-weight: bold;
}

@media (min-width: 768px) {
  .desktop-row {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    height: 95vh;
  }
  .formations--container {
    width: 50%;
  }
}
.works--container {
  min-height: 25vh;
  padding-bottom: 10vh;
}
.works--container .works-content {
  width: 90%;
  margin: auto;
}
.works--container .works-content .works {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;
  grid-auto-rows: minmax(40px, auto);
  margin-top: 20px;
}
.works--container .works-content .works .work {
  color: #FFFFFF;
}
.works--container .works-content .works .work p {
  margin: 0;
  font-size: 15px;
}
.works--container .works-content .works .work h2 {
  margin: 0;
  font-size: 20px;
  font-weight: lighter;
}
.works--container .works-content .works .work h2 .italic {
  font-weight: lighter;
}
.works--container .works-content .works .work h4 {
  margin: 0 0 0 15px;
  font-weight: lighter;
}
.works--container .works-content .works .work-current h2 {
  font-weight: bold;
}

@media (min-width: 768px) {
  .works--container {
    width: 50%;
  }
}
footer {
  width: 95%;
  margin: auto;
}
footer .contact--container {
  height: 78.5vh;
}
footer .contact--container .contact-content {
  color: #FFFFFF;
  margin: 0;
}
footer .contact--container .contact-content .title-contact-content {
  margin-left: 5%;
  margin-top: 10%;
}
footer .contact--container .contact-content .title-contact-content h3 {
  color: #FFFFFF;
  margin: 0;
  font-weight: normal;
}
footer .contact--container .contact-content .title-contact-content h4 {
  color: #FFFFFF;
  margin: 0;
  font-weight: normal;
}
footer .contact--container .contact-content .sn-container {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 2.5%;
}
footer .contact--container .contact-content .sn-container .sn-li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}
footer .contact--container .contact-content .sn-container .sn-li img {
  height: 25px;
}
footer .contact--container .contact-content .sn-container .sn-li p {
  color: #FFFFFF;
  margin: 0;
  margin-left: 5px;
  font-family: Arial;
  font-weight: normal;
}
footer .copyright--container p {
  color: #FFFFFF;
}
footer .copyright--container p:last-child {
  display: none;
}

@media (min-width: 768px) {
  footer .contact--container .contact-content {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
  }
  footer .contact--container .contact-content .title-contact-content {
    margin: 0;
  }
  footer .contact--container .contact-content .title-contact-content h3 {
    font-size: 22.5px;
  }
  footer .contact--container .contact-content .title-contact-content h4 {
    font-size: 18.5px;
  }
  footer .contact--container .contact-content .title-contact-content:hover #underline-contact-color {
    text-decoration: underline;
  }
  footer .contact--container .contact-content .sn-container {
    margin: 0;
    margin-left: 5%;
  }
  footer .contact--container .contact-content .sn-container .sn-li .underline-effect {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
  }
  footer .contact--container .contact-content .sn-container .sn-li .underline-effect::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #faceb5;
    transition: width 0.3s;
  }
  footer .contact--container .contact-content .sn-container .sn-li .underline-effect:hover::after {
    width: 100%;
    transition: width 0.3s;
  }
  footer .contact--container .contact-content .sn-container .sn-li .underline-effect:hover .number-nav {
    color: #faceb5;
  }
  footer .contact--container .contact-content .sn-container .sn-li:hover img {
    filter: invert(25%) sepia(18%) saturate(900%) hue-rotate(15deg) brightness(90%) contrast(60%);
  }
  footer .copyright--container p {
    color: #FFFFFF;
  }
  footer .copyright--container p:last-child {
    display: block;
    width: 45%;
  }
}
.projects-page--container {
  padding-top: 5%;
}
.projects-page--container .projects-page--text {
  color: #FFFFFF;
  margin-left: 5%;
  margin-top: 0px;
}
.projects-page--container .projects-page--text h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.projects-page--container .projects-page--text h3:hover {
  color: #FFA767;
}
.projects-page--container .projects-page--text p {
  margin-top: 0px;
}
.projects-page--container .projects-page--text .stack {
  margin-bottom: 40px;
}
.projects-page--container .projects-page--text .stack button {
  background-color: #3E3D42;
  border-radius: 5px;
  color: #FFFFFF;
  border: 1px solid #3E3D42;
  font-size: 15px;
}
.projects-page--container .projects-page--photos {
  width: 80%;
  margin: auto;
}
.projects-page--container .projects-page--photos img {
  width: 100%;
  margin: auto;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
}
.projects-page--container .projects-page-btn {
  background-color: #FFA767;
  color: #FFFFFF;
  font-size: 17.5px;
  border-radius: 5px;
  border: 1px solid #FFA767;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 5%;
}

@media (min-width: 768px) {
  .projects-page--container .projects-page--photos {
    width: 90%;
  }
  .projects-page--container .projects-page--photos img {
    width: 25%;
  }
}
.voteit--container .projects-page--text h3:hover {
  color: #87b189;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
.carousel {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  margin-top: 10%;
  padding-top: 30%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  perspective: 100px;
}

@media (max-width: 768px) {
  .carousel {
    padding-top: 110%;
  }
}
.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  height: 372px;
  width: 465px;
  background-color: #1A191D;
  counter-increment: item;
}

.carousel__slide img {
  height: 372px;
  margin-left: 25%;
}

@media (max-width: 768px) {
  .carousel__slide img {
    margin-left: 12%;
  }
}
.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}
@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}
.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 30.5%;
  width: 2.5rem;
  height: 2.5rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

@media (max-width: 768px) {
  .carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    margin-top: 50%;
  }
}
.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

@media (max-width: 768px) {
  .carousel::before,
.carousel__prev {
    left: 1rem;
  }
  .carousel::after,
.carousel__next {
    right: 1rem;
  }
}
.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.25rem 1.25rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

.adr--container .projects-page--text h3:hover {
  color: #F3DEC4;
}

/*# sourceMappingURL=app.css.map */
