.title-container{
  border-left: 2px solid $orange;
  margin-left: 15px;

  p{
    font-family: "ICabin";
    color: $white;
    font-size: 20px;
    font-weight: lighter;
    padding-left: 10px;
  }
}

@media (min-width: 768px){
  .title-container{
    margin-left: 5%;

    p{
      font-size: 25px;
      font-weight: lighter;
    }
  }
}