.cacher{
  display: none;
}

.colored{
  color: $orange;
}

.underline{
  text-decoration: underline;
}

.italic {
  font-family: "ICabin";
}

.colored-voteit{
  color: $voteit;
}

.colored-adr{
  color: $adr;
}