.cacher{
  display: none;
}

.colored{
  color: $orange;
}

.underline{
  text-decoration: underline;
}

.italic {
  font-family: "ICabin";
}

.colored-voteit{
  color: $voteit;
}

.colored-adr{
  color: $adr;
}


//EXP
.form-exp-current{
  color: $orange;
}
.form-exp-pass{
  color: #575757;
  box-shadow: 10px 5px 5px black;
}