.aboutme--container{
  height: 90vh;

  .aboutme-content{

    img {
      display: block;
      margin: auto;
      height: 200px;
      margin-bottom: 0px;
    }
    .texte-aboutme{
      color: $white;
      width: 90%;
      margin: auto;

      h2{
        margin-top: 0px;
      }
    }
  }
}

@media (min-width: 768px){
  .aboutme--container{

    .aboutme-content{
      display: flex;
      flex-direction: row;
      width: 85%;
      margin: auto;

      img{
        height: 400px;
      }
      .texte-aboutme{

        h2{
          font-size: 35px;
        }
        p{
          font-size: 20px;
        }
      }
    }
  }
}