//VAR
$black: #1A191D;
$orange: #FFA767;
$white: #FFFFFF;
$white-back: #E8E8EA;

@font-face{
    font-family: "Cabin";
    src: url("../assets/Fonts/Cabin/Cabin-VariableFont.ttf");
}

body{
    background-color: $black;
    margin: 0;
    padding: 0;
}

.cacher{
    display: none;
}

*{
    font-family: "Cabin";
}

@import 'header';
@import 'home';