//VAR
$black: #1A191D;
$orange: #FFA767;
$white: #FFFFFF;
$white-back: #E8E8EA;

@font-face{
    font-family: "ICabin";
    src: url("../assets/Fonts/Cabin/Cabin-Italic-VariableFont.ttf");
}
@font-face{
    font-family: "Cabin";
    src: url("../assets/Fonts/Cabin/Cabin-VariableFont.ttf");
}

body{
    background-color: $black;
    margin: 0;
    padding: 0;
}

.cacher{
    display: none;
}

*{
    font-family: "Cabin";
}

.colored{
    color: $orange;
}

.underline{
    text-decoration: underline;
}

.italic {
    font-family: "ICabin";
}

a{
    text-decoration: none;
    color: $white;
}

@import 'header';
@import 'title-container';
@import 'home';
@import 'aboutme';
@import 'skills';
@import 'projects';
@import 'formations';
@import 'works';
@import 'footer';