footer{
    width: 95%;
    margin: auto;
    height:92.5vh;

    .contact--container{
        height: 78.5vh;

        .contact-content{
            color: $white;
            margin: 0;

            .title-contact-content {
                margin-left: 5%;
                margin-top: 10%;

                h3{
                    color: $white;
                    margin: 0;
                    font-weight: normal;
                }
                h4{
                    color: $white;
                    margin: 0;
                    font-weight: normal;
                }
            }
            .sn-container{
                display: flex;
                flex-direction: column;
                margin-left: 10%;
                margin-top: 2.5%;

                .sn-li{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 15px;

                    img{
                        height: 25px;
                    }
                    p{
                        color: $white;
                        margin: 0;
                        margin-left: 5px;
                        font-family: Arial;
                        font-weight: normal;
                    }
                }
            }
        }
    }

    .copyright--container{

        p{
            color: $white;
        }
        p:last-child{
            display: none;
        }
    }
}