footer{
    width: 95%;
    margin: auto;
    //height:92.5vh;

    .contact--container{
        height: 78.5vh;

        .contact-content{
            color: $white;
            margin: 0;

            .title-contact-content {
                margin-left: 5%;
                margin-top: 10%;

                h3{
                    color: $white;
                    margin: 0;
                    font-weight: normal;
                }
                h4{
                    color: $white;
                    margin: 0;
                    font-weight: normal;
                }
            }
            .sn-container{
                display: flex;
                flex-direction: column;
                margin-left: 10%;
                margin-top: 2.5%;

                .sn-li{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 15px;

                    img{
                        height: 25px;
                    }
                    p{
                        color: $white;
                        margin: 0;
                        margin-left: 5px;
                        font-family: Arial;
                        font-weight: normal;
                    }
                }
            }
        }
    }

    .copyright--container{

        p{
            color: $white;
        }
        p:last-child{
            display: none;
        }
    }
}

@media (min-width: 768px){
    footer{

        .contact--container{

            .contact-content{
                display: flex;
                flex-direction: row;
                width: 60%;
                margin: auto;

                .title-contact-content{
                    margin: 0;

                    h3{
                        font-size: 22.5px;
                    }
                    h4{
                        font-size: 18.5px;
                    }
                }
                .title-contact-content:hover #underline-contact-color{
                    text-decoration: underline;
                }
                .sn-container{
                    margin: 0;
                    margin-left: 5%;

                    .sn-li{

                        .underline-effect {
                            display: inline-block;
                            color: $white;
                            text-decoration: none;
                        }
                        .underline-effect::after {
                            content: '';
                            display: block;
                            width: 0;
                            height: 2px;
                            background: $orange-white;
                            transition: width .3s;
                        }
                        .underline-effect:hover::after {
                            width: 100%;
                            transition: width .3s;
                        }
                        .underline-effect:hover .number-nav{
                            color: $orange-white;
                        }
                    }
                    .sn-li:hover img{
                        filter: invert(25%) sepia(18%) saturate(900%) hue-rotate(15deg) brightness(90%) contrast(60%);
                    }
                }
            }
        }
        .copyright--container{

            p{
                color: $white;
            }
            p:last-child{
                display: block;
                width: 45%;
            }
        }
    }
}