.formations--container {
  min-height: 90vh;

  .formations-content{
    width: 90%;
    margin: auto;

    .formations{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
      grid-auto-rows: minmax(40px, auto);
      margin-top: 20px;

      .formation{
        color: $white;

        p{
          margin: 0;
          font-size: 15px;
        }
        h2{
          margin: 0;
          font-size: 20px;

          .italic {
            font-weight: lighter;
          }
        }
        h4{
          margin: 0 0 0 15px;
          font-weight: lighter;
        }
      }
    }
  }
}