.projects--container{
  min-height: 90vh;

  .projects-content{
    width: 90%;
    margin: auto;
    color: $white;

    .projects{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
      grid-auto-rows: minmax(40px, auto);
      margin-top: 50px;
      margin-bottom: 100px;

      .project-card{
        background-color: #29282C;
        border-radius: 10px;
        margin: 0;

        .project-name {
          display: flex;
          flex-direction: column;
          background-color: $white;
          border-radius: 10px;
          height: 130px;
          margin-top: 0px;
          color: $black;

          h3 {
            margin: 0;
            padding-top: 40px;
            text-align: center;
          }
          p{
            text-align: center;
            margin: 0px 0 0;
          }
        }
        .btn-card {
          background-color: #3E3D42;
          color: $white;
          padding: 2.5px 15px;
          border: none;
          border-radius: 2px;
          margin-top: 10px;
          margin-left: 10px;
        }
        h2{
          margin: 20px 0 0 10px;
          font-size: 20px;
        }
        p:last-child{
          margin: 0 0 0 10px;
          padding-bottom: 20px;
        }
      }
    }
  }
}

@media (min-width: 768px){
  .projects--container{

    .projects-content{

      p:first-child{
        font-size: 18px;
        width: 45%;
        margin-left: 5%;
      }
      .projects{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 25px;

        .project-card{
          min-height: 250px;
        }
      }
    }
  }
}